@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

/* navbar */

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 50vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 4vh;
}

.header-left {
    margin-left: 12%;
    font-size: 1.2vw;
    color: #F9FAF8;
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 1vw;
}

.header-right a, .subhero {
    text-decoration: none;
    font-size: 0.95vw;
    color: #E5E7EB;
}

ul.header-right {
    list-style-type: none;
    margin: 0 12% 0 0 ;
    padding: 0;
}

/* Hero stuff */

.top-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.content-left, .content-right {
    display: flex;
    flex-direction: column;
}

.hero {
    color: #F9FAF8;
    font-size: 2.5vw;
    font-weight: bolder;
    width: 23vw;
}

.hero, .subhero {
    padding: 0;
    margin: 0;
}

.subhero {
    width: 24vw;
}

button, .placeholder-pic, .call-to-action {
    border-radius: 10px;
}

button { 
    margin-top: 2%;
    width: 6vw;
    height: 3.4vh;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    border-style: none;
}

/* placeholder image top */

.content-right {
    background-color: grey;
    width: 31vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.content-right p {
    color: #E5E7EB;
}

/* mid 1 */

.mid1 {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    margin-top: 2.7%;
}

.mid1-header {
    font-size: 1.9vw;
    font-weight: bolder;
    color: #1F2937;
}

.mid1-placeholder-div, .mid1-placeholders {
    display: flex;
}

.mid1-placeholder-div {
    gap: 2.6vw;
}

.mid1-placeholders {
    flex-direction: column;
    width: 150px;
    color: grey;
    margin-top: 5.4%;
    gap: 0.5vh;
}

.placeholder-pic {
    height: 15vh;
    border-style: solid;
    color: #3882f6;
}

/* mid2 */

.mid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 50vh;
}

.quote {
    color: #1F2937;
    font-size: 1.87vw;
    font-style: italic;
    width: 45vw;
}

.source {
    align-self: flex-end;
    font-size: 1.25vw;
    font-weight: bold;
    margin-right: 31%;
}

/* bottom */

.bottom {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    width: 60vw;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-text-1 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 1.25vw;
}

.call-text-2 {
    font-size: 0.95vw;
    color: #E5E7EB;
}

.call-right button {
    border-style: solid;
    border-color: white;
}

/* footer */

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    height: 8vh;
}