@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

/* navbar */

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
    /* padding: 13px; */
}

.header-left {
    margin-left: 12%;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-right a, .subhero {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul.header-right {
    list-style-type: none;
    margin: 0 12% 0 0 ;
    padding: 0;
}

/* Hero stuff */

.top-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content-left, .content-right {
    display: flex;
    flex-direction: column;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
}

.hero, .subhero {
    padding: 0;
    margin: 0;
}

.subhero {
    width: 450px;
}

button, .placeholder-pic, .call-to-action {
    border-radius: 10px;
}

/* .content-left*/ button { 
    margin-top: 10px;
    width: 120px;
    height: 34px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    border-style: none;
}

/* placeholder image top */

.content-right {
    background-color: grey;
    width: 600px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.content-right p {
    color: #E5E7EB;
}

/* mid 1 */

.mid1 {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    align-items: center;
    margin-top: 50px;
}

.mid1-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.mid1-placeholder-div, .mid1-placeholders {
    display: flex;
}

.mid1-placeholder-div {
    gap: 50px;
}

.mid1-placeholders {
    flex-direction: column;
    width: 150px;
    color: grey;
    margin-top: 40px;
    gap: 5px;
}

.placeholder-pic {
    height: 150px;
    border-style: solid;
    color: #3882f6;
}

/* mid2 */

.mid2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-basis: 500px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 850px;
}

.source {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-right: 595px;
}

/* bottom */

.bottom {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    width: 1150px;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-text-1 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.call-text-2 {
    font-size: 18px;
    color: #E5E7EB;
}

.call-right button {
    border-style: solid;
    border-color: white;
}

/* footer */

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    height: 80px;
}